.DS_Store
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
__pycache__/
*.py[cod]
.venv/
venv/
.mypy_cache/

config/.HA_VERSION
config/.cache/
config/blueprints/
config/deps/
config/tts/
config/.ha_run.lock
config/.storage/
config/home-assistant.log
config/home-assistant.log.*
config/home-assistant_v2.db
config/home-assistant_v2.db-*
config/.cloud/

.vscode/
simulation_exports/